<div class="bar">

    <NavLink href="/">Home</NavLink>
    <div style="width: 40vw"></div>
    <NavLink href="gamelist">Game List</NavLink>
    <NavLink href="sourcecode">Source Code</NavLink>
    <NavLink href="flappy">Flappy</NavLink>
        
</div>


