@page "/gamelist"

<PageTitle>Game List</PageTitle>

<h3>My Projects</h3>

<div id="gamelist">
	<iframe frameborder="0" src="https://itch.io/embed/2373234?border_width=5&amp;bg_color=fed5a3&amp;border_color=ffffff" width="30%" height="20%"><a href="https://derpelo.itch.io/press-f-to-flex">Press F To Flex by Derpelo</a></iframe>
	<iframe frameborder="0" src="https://itch.io/embed/2221459?border_width=5&amp;bg_color=fed5a3&amp;border_color=ffffff" width="30%" height="20%"><a href="https://derpelo.itch.io/catter">Catter by Derpelo</a></iframe>
	<iframe frameborder="0" src="https://itch.io/embed/2192543?border_width=5&amp;bg_color=fed5a3&amp;border_color=ffffff" width="30%" height="20%"><a href="https://derpelo.itch.io/cloner">Cloner by Derpelo</a></iframe>
	<iframe frameborder="0" src="https://itch.io/embed/2260793?border_width=5&amp;bg_color=fed5a3&amp;border_color=ffffff" width="30%" height="20%"><a href="https://derpelo.itch.io/dinodungeons">Dino Dungeons by Derpelo</a></iframe>
	<iframe frameborder="0" src="https://itch.io/embed/2280210?border_width=5&amp;bg_color=fed5a3&amp;border_color=ffffff" width="30%" height="20%"><a href="https://derpelo.itch.io/catgun">CatGun by Derpelo</a></iframe>
	<iframe frameborder="0" src="https://itch.io/embed/2231137?border_width=5&amp;bg_color=fed5a3&amp;border_color=ffffff" width="30%" height="20%"><a href="https://derpelo.itch.io/dipping">Dipping by Derpelo</a></iframe>
	<iframe frameborder="0" src="https://itch.io/embed/2202134?border_width=5&amp;bg_color=fed5a3&amp;border_color=ffffff" width="30%" height="20%"><a href="https://derpelo.itch.io/typer">Typer by Derpelo</a></iframe>
	<iframe frameborder="0" src="https://itch.io/embed/2364531?border_width=5&amp;bg_color=fed5a3&amp;border_color=ffffff" width="30%" height="20%"><a href="https://derpelo.itch.io/frozen-cat">Frozen Cat by Derpelo</a></iframe>
	<iframe frameborder="0" src="https://itch.io/embed/2214048?border_width=5&amp;bg_color=fed5a3&amp;border_color=ffffff" width="30%" height="20%"><a href="https://derpelo.itch.io/sapperto">Sapperto by Derpelo</a></iframe>
</div>

@code {

}
