@page "/sourcecode"
@using System.Diagnostics
@rendermode InteractiveServer

<PageTitle>Source Code</PageTitle>

<h1>You can check my code of this project on GitHub!</h1>

<div id="devbody">
	<figure id="energy"><img src="./energy.gif" id="energyico"></figure>
	<a id="gitButton" href="https://www.w3schools.com">
		<figure id="github" ><img src="./github.png" id="githubico"></figure>
	</a>
</div>


@code {

}
